.menu {
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  padding: 2em;
}

.menu .logo {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  font-family: 'ubuntu';
  font-size: 1.8em;
}

.menu .logo h2 {
  color: #215c5c;
}

.menu .nav {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.menu .nav h4 {
  margin: 0 .7em;
  font-family: 'montserrat';
  text-transform: uppercase;
}

.menu .nav i {
  margin-right: .3em;
  font-size: 1.1em;
}

.main {
  width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 2em;
}

.main .left {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main .left img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: drop-shadow(0 3em 0.5em rgba(0, 0, 0, 0.747));
          filter: drop-shadow(0 3em 0.5em rgba(0, 0, 0, 0.747));
}

.main .right {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.main .right h1 {
  color: aqua;
  font-size: 7em;
  font-family: 'ubuntu';
  text-shadow: 4px 0 4px rgba(0, 255, 255, 0.699);
}

.main .right h4 {
  color: #215c5c;
  font-size: 3em;
  font-family: montserrat;
}

.main .right p {
  color: grey;
}

.main .right p::first-letter {
  color: #215c5c;
  font-size: 2em;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */
